<h1>Log in</h1>

<%= form_tag ({url: "/login", method: 'POST'}) do %>
  <%= flash[:invalid_login] %>
  <div class="field<%= ' field_with_errors' if cookies[:invalid_login]%>">
		<%= label_tag :email %>
		<%= email_field_tag :email%> <br>
		<%= flash[:blank_email] %>
	<div>
  <div class="field<%= ' field_with_errors' if cookies[:invalid_login]%>">
		<%= label_tag :password %>
		<%= password_field_tag :password%> <br>
		<%= flash[:blank_password] %>
	<div>

	<%= submit_tag "Log In" %>
<% end %>

<%= link_to "Log in with Facebook", "/auth/facebook" %>

<!-- so error messages don't persist on page reload -->
<% cookies.delete :invalid_login %>